:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --aureolin: hsla(55, 92%, 58%, 1);
    --coral: hsla(18, 100%, 66%, 1);
    --jet: hsla(240, 1%, 23%, 1);
    --jet-partial: hsla(240, 1%, 23%, 0.8);
    --ash-gray: hsla(135, 7%, 64%, 1);
    --platinum: hsla(174, 11%, 82%, 1);
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--jet);
}

#root {
    width: 100%;
    height: 100%;
}


/* Nav-bar */

#nav-bar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 5;
    background-color: var(--jet-partial);
    width: 100%;
    padding: 10px 50px 10px 50px;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}


/* Hero section */

#hero-section {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-image: url('assets/pexels-photo-3536236.jpeg');
    background-size: cover;
    background-position: center;
    margin: 0;
    text-shadow: 5px 5px 5px black;
}

#hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 0, 0.3);
}

#hero-text {
    grid-column: 2;
    grid-row: 3;
    position: relative;
    z-index: 1;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(5, 100px);
}

#hero-text h1 {
    line-height: 5rem;
    font-size: 5rem;
    width: 75%;
}

.text-fast {
    grid-column: 1;
}

.text-hard {
    grid-column: 2;
    grid-row: 2;
}

.text-loud {
    grid-column: 3;
    grid-row: 3;
}

.hero-text-p {
    grid-row: 4;
    grid-column: span 5;
}

#book-btn {
    background-color: var(--jet);
    border-radius: 25px;
    border: transparent;
    max-height: 50px;
    font-size: 1rem;
    color: var(--platinum);
    box-shadow: 5px 5px 10px black;
    grid-row: 5;
    grid-column: 2;
}

#book-btn:hover {
    cursor: pointer;
}